name: Python CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run unit tests
        run: |
          export PYTHONPATH=$(pwd)
          pytest

  docker-build-push:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t flask-github-cicd .

      - name: Tag Docker image
        run: docker tag flask-github-cicd ${{ secrets.DOCKER_USERNAME }}/flask-github-cicd:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/flask-github-cicd:latest

  deploy:
    needs: docker-build-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Linux server using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/flask-github-cicd:latest
            docker stop flaskapp || true
            docker rm flaskapp || true
            docker run -d --name flaskapp -p 5000:5000 ${{ secrets.DOCKER_USERNAME }}/flask-github-cicd:latest
